In [2]:
import os
import sqlite3
import pandas as pd
import numpy as np

In [ ]:
data_path = os.path.join('../')
filename = 'nu6n.s3db'

In [5]:
sqliteConnection = sqlite3.connect(os.path.join(data_path, filename))

In [10]:
cursor = sqliteConnection.cursor()
print('DB Init')

DB Init

In [11]:
query = 'select sqlite_version();'
cursor.execute(query)
result = cursor.fetchall()
print('SQLite Version is {}'.format(result))

SQLite Version is [('3.45.3',)]

In [99]:
#find all the tables and their schemas
query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""
cursor.execute(query)
tables = cursor.fetchall()
print(tables)
print(cursor.execute("PRAGMA table_info('Contest')").fetchall())
for tbl in tables:
    print(tbl[0], ': ', cursor.execute(f"PRAGMA table_info('{tbl[0]}')").fetchall())

[('Contest',), ('ContestInstance',), ('DBInfo',), ('DBVersionV2',), ('DXLOG',), ('Station',), ('Skeds',), ('sqlite_stat1',), ('sqlite_stat4',)]
[(0, 'Name', 'NVARCHAR(10)', 1, None, 1), (1, 'DisplayName', 'NVARCHAR(50)', 0, None, 0), (2, 'CabrilloName', 'NVARCHAR(15)', 1, None, 0), (3, 'Mode', 'NVARCHAR(6)', 1, None, 0), (4, 'DupeType', 'SMALLINT', 0, "'''''''0'''''''", 0), (5, 'Multiplier1Name', 'NVARCHAR(15)', 0, "'''''''''''''''N/A'''''''''''''''", 0), (6, 'Multiplier2Name', 'NVARCHAR(15)', 0, "'''''''''''''''N/A'''''''''''''''", 0), (7, 'Period', 'INT', 1, "'''''''2'''''''", 0), (8, 'PointsPerContact', 'INT', 0, "'''''''0'''''''", 0), (9, 'Multiplier3Name', 'NVARCHAR(15)', 0, None, 0), (10, 'MasterDTA', 'NVARCHAR(255)', 0, None, 0), (11, 'CWMessages', 'NVARCHAR(255)', 0, None, 0), (12, 'SSBMessages', 'NVARCHAR(255)', 0, None, 0), (13, 'DigiMessages', 'NVARCHAR(255)', 0, None, 0), (14, 'CabrilloVersion', 'NVARCHAR(20)', 0, None, 0)]
Contest :  [(0, 'Name', 'NVARCHAR(10)', 1, None, 1), (1, 'DisplayName', 'NVARCHAR(50)', 0, None, 0), (2, 'CabrilloName', 'NVARCHAR(15)', 1, None, 0), (3, 'Mode', 'NVARCHAR(6)', 1, None, 0), (4, 'DupeType', 'SMALLINT', 0, "'''''''0'''''''", 0), (5, 'Multiplier1Name', 'NVARCHAR(15)', 0, "'''''''''''''''N/A'''''''''''''''", 0), (6, 'Multiplier2Name', 'NVARCHAR(15)', 0, "'''''''''''''''N/A'''''''''''''''", 0), (7, 'Period', 'INT', 1, "'''''''2'''''''", 0), (8, 'PointsPerContact', 'INT', 0, "'''''''0'''''''", 0), (9, 'Multiplier3Name', 'NVARCHAR(15)', 0, None, 0), (10, 'MasterDTA', 'NVARCHAR(255)', 0, None, 0), (11, 'CWMessages', 'NVARCHAR(255)', 0, None, 0), (12, 'SSBMessages', 'NVARCHAR(255)', 0, None, 0), (13, 'DigiMessages', 'NVARCHAR(255)', 0, None, 0), (14, 'CabrilloVersion', 'NVARCHAR(20)', 0, None, 0)]
ContestInstance :  [(0, 'ContestID', 'INT', 1, None, 1), (1, 'ContestName', 'NVARCHAR(10)', 0, None, 0), (2, 'StartDate', 'DATETIME', 0, None, 0), (3, 'OperatorCategory', 'NVARCHAR(20)', 0, "''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''", 0), (4, 'BandCategory', 'NVARCHAR(20)', 0, "''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''", 0), (5, 'PowerCategory', 'NVARCHAR(20)', 0, "''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''", 0), (6, 'ModeCategory', 'NVARCHAR(20)', 0, "''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''", 0), (7, 'OverlayCategory', 'NVARCHAR(20)', 0, "''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''", 0), (8, 'ClaimedScore', 'MONEY', 0, "'''''''''''''''0'''''''''''''''", 0), (9, 'Operators', 'NVARCHAR(255)', 0, "''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''", 0), (10, 'Soapbox', 'TEXT', 0, None, 0), (11, 'SentExchange', 'NVARCHAR(50)', 0, None, 0), (12, 'ContestNR', 'INT', 0, None, 0), (13, 'SubType', 'NVARCHAR(9)', 0, None, 0), (14, 'StationCategory', 'NVARCHAR(20)', 0, None, 0), (15, 'AssistedCategory', 'NVARCHAR(20)', 0, None, 0), (16, 'TransmitterCategory', 'NVARCHAR(20)', 0, None, 0), (17, 'TimeCategory', 'NVARCHAR(20)', 0, None, 0)]
DBInfo :  [(0, 'Key', 'NVARCHAR(128)', 1, None, 1), (1, 'Value', 'NVARCHAR(512)', 1, None, 0)]
DBVersionV2 :  [(0, 'VersionNumber', 'INT', 1, None, 1), (1, 'DateTimeUpdatedUTC', 'DATETIME', 1, None, 0), (2, 'Log', 'TEXT', 0, None, 0)]
DXLOG :  [(0, 'TS', 'DATETIME', 1, None, 1), (1, 'Call', 'VARCHAR(15)', 1, None, 2), (2, 'Freq', 'DOUBLE', 0, None, 0), (3, 'QSXFreq', 'DOUBLE', 0, '0', 0), (4, 'Mode', 'VARCHAR(6)', 0, None, 0), (5, 'ContestName', 'VARCHAR(10)', 0, "'NORMAL'", 0), (6, 'SNT', 'VARCHAR(10)', 0, None, 0), (7, 'RCV', 'VARCHAR(15)', 0, None, 0), (8, 'CountryPrefix', 'VARCHAR(8)', 0, "''", 0), (9, 'StationPrefix', 'VARCHAR(15)', 0, "''", 0), (10, 'QTH', 'VARCHAR(25)', 0, "''", 0), (11, 'Name', 'VARCHAR(20)', 0, "''", 0), (12, 'Comment', 'VARCHAR(60)', 0, "''", 0), (13, 'NR', 'INTEGER', 0, '0', 0), (14, 'Sect', 'VARCHAR(8)', 0, "''", 0), (15, 'Prec', 'VARCHAR(1)', 0, "''", 0), (16, 'CK', 'TINYINT', 0, '0', 0), (17, 'ZN', 'TINYINT', 0, '0', 0), (18, 'SentNr', 'INTEGER', 0, '0', 0), (19, 'Points', 'INTEGER', 0, '0', 0), (20, 'IsMultiplier1', 'TINYINT', 0, '0', 0), (21, 'IsMultiplier2', 'INTEGER', 0, '0', 0), (22, 'Power', 'VARCHAR(8)', 0, None, 0), (23, 'Band', 'FLOAT', 0, '0', 0), (24, 'WPXPrefix', 'VARCHAR(8)', 0, None, 0), (25, 'Exchange1', 'VARCHAR(20)', 0, None, 0), (26, 'RadioNR', 'TINYINT', 0, '1', 0), (27, 'ContestNR', 'INTEGER', 0, None, 0), (28, 'isMultiplier3', 'INTEGER', 0, None, 0), (29, 'MiscText', 'VARCHAR(20)', 0, None, 0), (30, 'IsRunQSO', 'TINYINT(1)', 0, '0', 0), (31, 'ContactType', 'VARCHAR(1)', 0, None, 0), (32, 'Run1Run2', 'TINYINT', 1, None, 0), (33, 'GridSquare', 'VARCHAR(6)', 0, None, 0), (34, 'Operator', 'VARCHAR(20)', 0, None, 0), (35, 'Continent', 'VARCHAR(2)', 0, None, 0), (36, 'RoverLocation', 'VARCHAR(10)', 0, None, 0), (37, 'RadioInterfaced', 'INTEGER', 0, None, 0), (38, 'NetworkedCompNr', 'INTEGER', 0, None, 0), (39, 'NetBiosName', 'varchar (255)', 0, None, 0), (40, 'IsOriginal', 'Boolean', 0, None, 0), (41, 'ID', 'TEXT(16)', 1, "'0000000000000000'", 0), (42, 'CLAIMEDQSO', 'INTEGER', 0, '1', 0)]
Station :  [(0, 'Call', 'NVARCHAR(20)', 1, None, 1), (1, 'Name', 'NVARCHAR(50)', 0, None, 0), (2, 'Street1', 'NVARCHAR(50)', 0, None, 0), (3, 'Street2', 'NVARCHAR(50)', 0, None, 0), (4, 'City', 'NVARCHAR(30)', 0, None, 0), (5, 'State', 'NVARCHAR(8)', 0, None, 0), (6, 'Zip', 'NVARCHAR(25)', 0, None, 0), (7, 'Country', 'NVARCHAR(30)', 0, None, 0), (8, 'GridSquare', 'NVARCHAR(8)', 0, "'Unknown'", 0), (9, 'LicenseClass', 'NVARCHAR(10)', 0, "'Unknown'", 0), (10, 'Latitude', 'FLOAT', 0, '0', 0), (11, 'Longitude', 'FLOAT', 0, '0', 0), (12, 'PacketNode', 'NVARCHAR(10)', 0, "'N/A'", 0), (13, 'ARRLSection', 'NVARCHAR(4)', 0, None, 0), (14, 'Club', 'NVARCHAR(50)', 0, None, 0), (15, 'IARUZone', 'SMALLINT', 0, '0', 0), (16, 'CQZone', 'SMALLINT', 1, None, 0), (17, 'STXeq', 'NVARCHAR(50)', 0, None, 0), (18, 'SPowe', 'NVARCHAR(20)', 0, None, 0), (19, 'SAnte', 'NVARCHAR(30)', 0, None, 0), (20, 'SAntH1', 'NVARCHAR(15)', 0, None, 0), (21, 'SAntH2', 'NVARCHAR(15)', 0, None, 0), (22, 'RoverQTH', 'NVARCHAR(10)', 0, None, 0)]
Skeds :  [(0, 'ContestID', 'INT', 1, None, 0), (1, 'Deleted', 'BIT', 0, '0', 0), (2, 'Time', 'DATETIME', 1, None, 1), (3, 'Call', 'VARCHAR(15)', 1, None, 2), (4, 'Frequency', 'VARCHAR(8)', 1, None, 3), (5, 'Mode', 'VARCHAR(6)', 1, None, 4), (6, 'OriginStation', 'VARCHAR(15)', 1, None, 0), (7, 'Comment', 'VARCHAR(100)', 0, "''", 0)]
sqlite_stat1 :  [(0, 'tbl', '', 0, None, 0), (1, 'idx', '', 0, None, 0), (2, 'stat', '', 0, None, 0)]
sqlite_stat4 :  [(0, 'tbl', '', 0, None, 0), (1, 'idx', '', 0, None, 0), (2, 'neq', '', 0, None, 0), (3, 'nlt', '', 0, None, 0), (4, 'ndlt', '', 0, None, 0), (5, 'sample', '', 0, None, 0)]

In [100]:
#fetch a few call for verification
query = """ SELECT Call from DXLOG"""
cursor.execute(query).fetchmany(10)

[('AE4ED',),
 ('AH6KO',),
 ('K2TD',),
 ('K3TV',),
 ('K4WOP',),
 ('K5DDS',),
 ('K6RB',),
 ('KE6JAC',),
 ('KF3P',),
 ('N0HJZ',)]

In [101]:
# convert to pandas dataframe
tbl = tables[4][0]
print(tbl)
q = f'select * from {tbl}'
df = pd.read_sql_query(q, sqliteConnection, index_col='TS', parse_dates='TS')
df.head()

DXLOG

,Call,Freq,QSXFreq,Mode,ContestName,SNT,RCV,CountryPrefix,StationPrefix,QTH,...,GridSquare,Operator,Continent,RoverLocation,RadioInterfaced,NetworkedCompNr,NetBiosName,IsOriginal,ID,CLAIMEDQSO
TS,,,,,,,,,,,,,,,,,,,,,
2022-12-10 06:20:50,K6RB,28035.879,28035.879,CW,ARRL10M,599,599,K,NU6N,,...,,NU6N,NA,,1,0,MIGHTYDUCK,1,bedba7a6d1fc45ee8517c7e1f1122e23,1
2022-12-10 06:21:35,K5DDS,28035.879,28035.879,CW,ARRL10M,599,599,K,NU6N,,...,,NU6N,NA,,1,0,MIGHTYDUCK,1,e9ea2abd27d148b7a126c5e436aa05cc,1
2022-12-10 06:22:06,K3TV,28035.879,28035.879,CW,ARRL10M,599,599,K,NU6N,,...,,NU6N,NA,,1,0,MIGHTYDUCK,1,64d9aaaf08b5445a9fa5f0a0a78e0036,1
2022-12-10 06:22:46,N6TV,28035.879,28035.879,CW,ARRL10M,599,599,K,NU6N,,...,,NU6N,NA,,1,0,MIGHTYDUCK,1,09ce512797ab4355b84b0aeb22d7eea7,1
2022-12-10 17:49:24,K9XR,28095.864,28095.864,CW,ARRL10M,599,599,K,NU6N,,...,,NU6N,NA,,1,0,MIGHTYDUCK,1,b07d4a3d0d2847e4b5992920945eff07,1

In [102]:
arrl10 = df.loc['ContestName']
df.index.max() - df.index.min()

KeyError: 'ContestName'

In [119]:
# check stats about df
df.columns
df.groupby(['ContestName', 'ContestNR'])['ContestNR'].value_counts()
q = """ SELECT * from DXLOG 
where ContestName='ARRL10M'
and ContestNR<0;"""
arrl10m_1 = pd.read_sql_query(q, sqliteConnection, index_col='TS', parse_dates='TS')
arrl10m_1.drop(['Operator', 'StationPrefix', 'QTH', 'GridSquare', 'Name',
       'Continent', 'RoverLocation', 'RadioInterfaced', 'NetworkedCompNr', 'ID', 'ContactType', 'Comment',
       'NetBiosName', 'IsOriginal', 'CLAIMEDQSO', 'WPXPrefix', 'RadioNR', 'Power', 'Band'], axis=1, inplace=True)
arrl10m_1

,Call,Freq,QSXFreq,Mode,ContestName,SNT,RCV,CountryPrefix,NR,Sect,...,SentNr,Points,IsMultiplier1,IsMultiplier2,Exchange1,ContestNR,isMultiplier3,MiscText,IsRunQSO,Run1Run2
TS,,,,,,,,,,,,,,,,,,,,,
2022-12-11 16:34:08,AE4ED,28067.270,28067.270,CW,ARRL10M,599,599,K,0,AL,...,211,4,0,0,AL,-1,0,,0,2
2022-12-10 06:20:50,K6RB,28035.879,28035.879,CW,ARRL10M,599,599,K,0,CA,...,1,4,1,0,CA,-1,0,,1,2
2022-12-10 06:21:35,K5DDS,28035.879,28035.879,CW,ARRL10M,599,599,K,0,CA,...,2,4,0,0,CA,-1,0,,1,2
2022-12-10 06:22:46,N6TV,28035.879,28035.879,CW,ARRL10M,599,599,K,0,CA,...,4,4,0,0,CA,-1,0,,0,2
2022-12-10 06:22:06,K3TV,28035.879,28035.879,CW,ARRL10M,599,599,K,0,GA,...,3,4,1,0,GA,-1,0,,0,2
2022-12-10 18:48:20,N0HJZ,28095.508,28095.508,CW,ARRL10M,599,599,K,0,MN,...,34,4,0,0,MN,-1,0,,0,2
2022-12-10 18:49:08,N0HJZ,28095.508,28095.508,CW,ARRL10M,599,599,K,0,MN,...,34,4,0,0,MN,-1,0,,0,2

In [125]:
q = """ SELECT * from DXLOG 
where ContestName='ARRL10M'
and (Call='AE4ED' or Call='K6RB' or Call='K5DDS' or Call='N6TV' or Call='K3TV' or Call='N0HJZ')
and ContestNR>0;"""
arrl10m = pd.read_sql_query(q, sqliteConnection, index_col='TS', parse_dates='TS')
arrl10m.drop(['Operator', 'StationPrefix', 'QTH', 'GridSquare', 'Name',
       'Continent', 'RoverLocation', 'RadioInterfaced', 'NetworkedCompNr', 'ID', 'ContactType', 'Comment',
       'NetBiosName', 'IsOriginal', 'CLAIMEDQSO', 'WPXPrefix', 'RadioNR', 'Power', 'Band'], axis=1, inplace=True)
arrl10m

,Call,Freq,QSXFreq,Mode,ContestName,SNT,RCV,CountryPrefix,NR,Sect,...,SentNr,Points,IsMultiplier1,IsMultiplier2,Exchange1,ContestNR,isMultiplier3,MiscText,IsRunQSO,Run1Run2
TS,,,,,,,,,,,,,,,,,,,,,
2022-12-11 16:36:12,AE4ED,28067.270,28067.270,CW,ARRL10M,599,599,K,0,AL,...,213,4,0,0,AL,1,0,,0,2
2022-12-10 18:50:45,N0HJZ,28095.508,28095.508,CW,ARRL10M,599,599,K,0,MN,...,34,4,0,0,MN,1,0,,0,2
2022-12-10 18:39:08,N6TV,28005.336,28005.336,CW,ARRL10M,599,599,K,0,CA,...,31,4,0,0,CA,1,0,,0,2

In [ ]:
df.groupby(['Contest_ID']).value_counts()

KeyError: 'Contest_ID'

In [ ]:
if sqliteConnection:
    sqliteConnection.close()
    print('SQLite Connection closed')

In [14]:
s = pd.Series([12, 22, 32], index=['x', 'y', 'z'])
sm = pd.Series({'d': 33, 'b': 44})
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar['day1'])

pd.options.display.max_rows

420

60

In [19]:
json_split = '''
{
    "columns": ["column1", "column2"],
    "index": [0, 1, 2],
    "data": [[1, "a"], [2, "b"], [3, "c"]]
}
'''
df = pd.read_json(json_split, orient='split')
print(df)

   column1 column2
0        1       a
1        2       b
2        3       c

/var/folders/v9/_2d84cyn3l5_yp66990l3c040000gn/T/ipykernel_2263/3885762115.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json_split, orient='split')

In [20]:
json_records = '''
[
    {"column1": 1, "column2": "a"},
    {"column1": 2, "column2": "b"},
    {"column1": 3, "column2": "c"}
]
'''
df = pd.read_json(json_records, orient='records')
print(df)

   column1 column2
0        1       a
1        2       b
2        3       c

/var/folders/v9/_2d84cyn3l5_yp66990l3c040000gn/T/ipykernel_2263/977280915.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json_records, orient='records')